
.nav{

    height:1000px;
}


.img{
   
    width:100%;
    height:400px;
}

#img-tr{

    width:10%;
    
}

#img-gr{

    width:10%;
    height: 60px;
}



.img-name{

    font-size:5rem;
    display: flex;
    justify-content: center;
    color:blue;
    background-color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
    width:100%;
    height:100px;

}




